--- 
layout: default
title: Strona główna
description: Sensoric to fabularna gra online do integracji sensorycznej dzieci w wieku 4 - 7 lat.
image: /assets/images/img_og.png
additional-scripts: 
  - https://unpkg.com/swiper/swiper-bundle.min.js
  - /assets/js/home-page.js
additional-stylesheet: 
  - https://unpkg.com/swiper/swiper-bundle.min.css
permalink: /
---

<main>
    {% include hero-section.html %}
    {% include about-game-section.html %}
    {% include about-game-boxes.html %}
    {% include about-product.html %}
    {% include testimonials.html %}
    {% include about-us-section.html %}
    {% include faq-accordion.html %}
</main>
