<section class="about-product" id="oferta">
    <div class="about-product__wrapper">
        <h2 class="heading-secondary">{{ site.data.product-adventages.title }}</h2>
        <div class="about-product__content">
                {% include carousel.html %}
            <div class="about-product__description">
                <h3 class="heading-tertiary">{{ site.data.product-adventages.subtitle }}</h3>
                <ul class="about-product__list">
                    {% for item in site.data.product-adventages.items %}
                        <li class="about-product__item"><i class="fas fa-circle"></i><p class="paragraph">{{ item.text }}</p></li>
                    {% endfor %}
                </ul>
                <p class="paragraph price"><span>{{ site.data.product-adventages.price.prefix}} </span>{{ site.data.product-adventages.price.value }}<span>{{ site.data.product-adventages.price.sufix}} 
                </span></p>
                <a href="/strona-produktu" class="about-product__button" id="order-button">{{ site.data.product-adventages.button }}</a> 
            </div>
        </div>
    </div>
</section>
