<section class="game-boxes">
    <div class="game-boxes__wrapper">
        <h2 class="heading-secondary">Dlaczego sensoric?</h2>
        <ul class="game-boxes__list">
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-comments"></i></span>
                <p>Integracja Sensoryczna ujęta 
                    w fabularnej, nowoczesnej formie.</p>
            </li>
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-palette"></i></span>
                <p>Zabawa dla dzieci 
                    i dorosłych – pogłębiaj więź z dzieckiem przez wspólnie spędzony czas.</p>
            </li>
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-heart"></i></span>
                <p>Gra tworzona przez rodziców-specjalistów 
                    z zakresu SI, pedagogiki 
                    i psychologii.</p>
            </li>
        </ul>
    </div>
</section>
