<section class="about-game" id="poznaj-gre">
    <div class="about-game__wrapper">
        <h2 class="heading-secondary">Odkryj świat natury i przeżyj niesamowite przygody z naszymi bohaterami!</h2> 
        <div class="about-game__content">
            <div class="about-game__description">
                <p class="paragraph paragraph--justify"><span>Integracja sensoryczna (SI) </span>to niezwykle ważny element prawidłowego rozwoju każdego dziecka. W Sensoric rozwijacie ją poprzez zabawę, pomagając Patyczkowi, głównemu bohaterowi naszych przygód, zdobywać kolejne umiejętności.</p>
                <a href="/#game-boxes" class="about-game__button" id="more-button">Dowiedz się więcej</a>
            </div>
            <picture class="about-game__img">
                <source srcset="/assets/images/stick_landscape_mobile.webp" type="image/webp" media="(max-width: 650px)">
                <source srcset="/assets/images/stick_landscape_mobile.jpg" type="image/jpg" media="(max-width: 650px)">
                <source srcset="/assets/images/stick_landscape.webp" type="image/webp">
                <source srcset="/assets/images/stick_landscape.jpg" type="image/jpg">
                <img src="/assets/images/stick_landscape.jpg" alt="Patyczek - główny bohater gry Sensoric.">
            </picture>
        </div> 
        <div class="about-game__video">
            <picture>
                <source srcset="/assets/images/video__cover__img.webp" type="image/webp">
                <source srcset="/assets/images/video__cover__img.jpg" type="image/jpg">
                <img src="/assets/images/video__cover__img.jpg" alt="Widok lasu">
            </picture>
        </div>  
    </div>
</section>
