<section class="about-game" id="poznaj-gre">
    <div class="about-game__wrapper">
        <h2 class="heading-secondary">Odkryj świat natury i przeżyj niesamowite przygody z naszymi bohaterami!</h2> 
        <div class="about-game__content">
            <div class="about-game__description">
                <p class="paragraph paragraph--justify">Integracja sensoryczna (SI) to niezwykle ważny element prawidłowego rozwoju każdego dziecka. W Sensoric rozwijacie ją poprzez zabawę, pomagając Patyczkowi, głównemu bohaterowi naszych przygód, zdobywać kolejne umiejętności.</p>
                <a href="/#game-boxes" class="about-game__button" id="more-button">Dowiedz się więcej</a>
            </div>
            <img src="/assets/images/stick_landscape.jpg" class="about-game__img">
        </div> 
        <div class="about-game__video">
            <img src="/assets/images/video__cover__img.jpg">
        </div>  
    </div>
</section>
