<section class="about-us" id="o-nas">
    <div class="about-us__wrapper">
        <h2 class="heading-secondary">O nas</h2>
        <ul class="about-us__list">
            <li class="about-us__item">
                <img src="/assets/images/dorota.jpg" alt="">
                <p class="paragraph paragraph--highlighted-small">Dorota Matczak</p>
                <p class="paragraph paragraph--center">konsultantka ds. Integracji Sensoryczej</p>
                <p class="paragraph paragraph--center">Fizjoterapeutka, terapeutka metody FITS, terapeutka SI. Od blisko 10 lat skutecznie łączy teorię oraz praktykę zapobiegania i leczenia wad postawy u dzieci i młodzieży.</p>
            </li>
            <li class="about-us__item">
                <img src="/assets/images/ola.jpg" alt="">
                <p class="paragraph paragraph--highlighted-small">Aleksandra Dobrzyńska</p>
                <p class="paragraph paragraph--center">terapeutka Integracji Sensorycznej</p>
                <p class="paragraph paragraph--center">Certyfikowana terapeutka integracji sensorycznej. Od wielu lat pracuje z młodymi pacjentami łącząc wiedzę z zakresu fizjoterapii i SI.</p>
            </li>
            <li class="about-us__item">
                <img src="/assets/images/tomasz.jpg" alt="">
                <p class="paragraph paragraph--highlighted-small">Tomasz Kizerwetter</p>
                <p class="paragraph paragraph--center">pedagog, scenarzysta</p>
                <p class="paragraph paragraph--center">Pedagog, absolwent Akademii Wychowania Fizycznego, dyplomowany trener. Ma ponad 10 letnie doświadczenie w pracy z dziećmi. Miłośnik przyrody i scenarzysta przygód Sensorica.</p>
            </li>
            <li class="about-us__item">
                <img src="/assets/images/beata.jpg" alt="">
                <p class="paragraph paragraph--highlighted-small">Beata Irzycka</p>
                <p class="paragraph paragraph--center">graficzka, psycholożka</p>
                <p class="paragraph paragraph--center">Graficzka, dyplomowana psycholożka. W projekcie pełni rolę pilota ogarniacza i sprawuje pieczę nad artystyczną częścią projektu.</p>
            </li>
        </ul>
    </div>
</section>
