<section class="about-product" id="product">
    <div class="about-product__wrapper">
        <h2 class="heading-secondary">Sensoric to 3 dni w tygodniu, 3 ćwiczenia dziennie, przez 12 dni w miesiącu!  </h2>
        <div class="about-product__content">
                {% include carousel.html %}
            <div class="about-product__description">
               <p class="paragraph paragraph--justify">Do naszych szczegółowo wyselekcjonowanych fabularyzowanych ćwiczeń kreatywnych, plastycznych i ruchowch przygotowaliśmy specjalny box z zestawem dodatkowych przyborów, które ułatwią najmłodszym lepsze poznawanie świata i poprawne wykonywanie zadań. Świetnie uzupełniają to wszystko przygotowane przez naszych specjalistów animacje. Każdy miesiąc to nowy box, nowe animacje i nowe przygody! To wszystko sprawia, że w pełni cieszycie się zabawą z Sensoric!</p>
               <a href="/#" class="about-product__button" id="more-button">Dowiedz się więcej</a>
            </div>
        </div>
    </div>
</section>
