<section class="about-us" id="o-nas">
    <div class="about-us__wrapper">
        <h2 class="heading-secondary">{{ site.data.about-us.title }}</h2>
        <p class="paragraph paragraph--strong">{{ site.data.about-us.subtitle }}</p>
        <ul class="about-us__list">
            {% for item in site.data.about-us.items %}
                <li class="about-us__item">
                    <picture>
                        <source srcset="{{ item.img-webp }}" type="image/webp">
                        <source srcset="{{ item.img-jpg }}" type="image/jpg">
                        <img src="{{ item.img-jpg }}" alt="{{ item.alt }}">
                    </picture>
                    <div class="about-us__content">
                        <h3 class="heading-tertiary">{{ item.name }}</h3>
                        <p class="paragraph paragraph--center">{{ item.description }}</p>
                        <p class="paragraph paragraph--center">{{ item.text }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
