<section class="game-boxes" id="game-boxes">
    <div class="game-boxes__wrapper">
        <h2 class="heading-secondary">Czym jest Sensoric?</h2>
        <p class="paragraph paragraph--strong">Sensoric łączy zabawę z ćwiczeniami integracji sensorycznej, czyli prawidłowego odbierania oraz interpretowania bodźców zmysłowych przez maluchy. Integracja sensoryczna pozwala najmłodszym lepiej zrozumieć otaczający je świat, co mocno wpływa na ich późniejszy rozwój.</p>
        <ul class="game-boxes__list">
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-comments"></i></span>
                <h3 class="heading-tertiary">Fabuła</h3>
                <p class="paragraph paragraph--center">Pomóż swojemu dziecku w ćwiczeniach integracji sensorycznej w nowoczesnej, fabularnej i fajnej formie!
                </p>
            </li>
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-heart"></i></span>
                <h3 class="heading-tertiary">Relacja</h3>
                <p class="paragraph paragraph--center">Pogłębiaj więź ze swoim dzieckiem poprzez wspólną zabawę, która ułatwi maluchowi prawidłowy i szybki rozwój!
                </p>
            </li>
            <li class="game-boxes__item">
                <span class="game-boxes__icon"><i class="fas fa-gamepad"></i></span>
                <h3 class="heading-tertiary">Zabawa</h3>
                <p class="paragraph paragraph--center">Graj z dzieckiem w grę stworzoną przez specjalistów z zakresu integracji sensorycznej, pedagogiki i psychologii dziecięcej, którzy też są rodzicami!</p>
            </li>
        </ul>
    </div>
</section>
