<section class="about-us" id="o-nas">
    <div class="about-us__wrapper">
        <h2 class="heading-secondary">O nas</h2>
        <p class="paragraph paragraph--strong">Jesteśmy młodym startupem z Warszawy. Pochodzimy z różnych branży, ale łączy nas jedno — jesteśmy rodzicami i znamy się na integracji sensorycznej jak mało kto! To w połączeniu z naszą pasją do gier i miłością do przyrody pozwoliło nam stworzyć Sensoric — narzędzie do ćwiczeń integracji sensorycznej, którego jako rodzice sami potrzebowaliśmy :)</p>
        <ul class="about-us__list">
            <li class="about-us__item">
                <picture>
                    <source srcset="/assets/images/dorota.webp" type="image/webp">
                    <source srcset="/assets/images/dorota.jpg" type="image/jpg">
                    <img src="/assets/images/dorota.jpg" alt="Dorota Matczak - pomysłodawczyni Sensoric">
                </picture>
                <div class="about-us__content">
                    <p class="paragraph paragraph--highlighted-small">Dorota Matczak</p>
                    <p class="paragraph paragraph--center">Mama 6-letniego Jeremiego</p>
                    <p class="paragraph paragraph--center">Pomysłodawczyni Sensoric. Fizjoterapeutka, terapeutka metody FITS, terapeutka integracji sensorycznej. Od ponad 10 lat skutecznie łączy teorię z praktyką zapobiegania i leczenia wad postawy u dzieci i młodzieży.</p>
                </div>
            </li>
            <li class="about-us__item">
                <picture>
                    <source srcset="/assets/images/ola.webp" type="image/webp">
                    <source srcset="/assets/images/ola.jpg" type="image/jpg">
                    <img src="/assets/images/ola.jpg" alt="Aleksandra Dobrzyńska - współtwórca gry Sensoric">
                </picture>
                <div class="about-us__content">
                    <p class="paragraph paragraph--highlighted-small">Aleksandra Dobrzyńska</p>
                    <p class="paragraph paragraph--center">Mama 5-letniego Jurka</p>
                    <p class="paragraph paragraph--center">Certyfikowana terapeutka integracji sensorycznej. Od wielu lat pracuje z dziećmi, łącząc integracje sensoryczną z fizjoterapią. W Sensoric odpowiada za merytoryczną stronę ćwiczeń</p>
                </div>
            </li>
            <li class="about-us__item">
                <picture>
                    <source srcset="/assets/images/tomasz.webp" type="image/webp">
                    <source srcset="/assets/images/tomasz.jpg" type="image/jpg">
                    <img src="/assets/images/tomasz.jpg" alt="Tomasz Kizerwetter - współtwórca gry Sensoric">
                </picture>
                <div class="about-us__content">
                    <p class="paragraph paragraph--highlighted-small">Tomasz Kizerwetter</p>
                    <p class="paragraph paragraph--center">Tata 10-letniego Mikołaja i 3-letniej Oliwki</p>
                    <p class="paragraph paragraph--center">Pedagog, absolwent Akademii Wychowania Fizycznego. Od ponad 10 lat pracuje jako nauczyciel dzieci w wieku wczesnoszkolnym. Miłośnik przyrody, w Sensoric odpowiedzialny za tworzenie historii oraz przygotowywanie ćwiczeń.</p>
                </div>
               
            </li>
            <li class="about-us__item">
                <picture>
                    <source srcset="/assets/images/beata.webp" type="image/webp">
                    <source srcset="/assets/images/beata.jpg" type="image/jpg">
                    <img src="/assets/images/beata.jpg" alt="Beata Irzycka -  współtwórca gry Sensoric">
                </picture>
                <div class="about-us__content">
                    <p class="paragraph paragraph--highlighted-small">Beata Irzycka</p>
                    <p class="paragraph paragraph--center">Mama 2-letniej Julki</p>
                    <p class="paragraph paragraph--center">Dyplomowana psycholożka i graficzka. W Sensoric sprawuje pieczę nad artystyczną częścią projektu oraz nad tym, by wszystko – od systemu, po najmniejszy komponent każdego boxu – działało tak, jak powinno.</p>
                </div>
                
            </li>
        </ul>
    </div>
</section>
