<div class="slider">
    <div class="slider__container">
      <picture class="slider__element slider__element--1 slider__element--active">
        <source srcset="/assets/images/slide_1.webp" type="image/webp">
        <source srcset="/assets/images/slide_1.jpg" type="image/jpg">
        <img src="/assets/images/slide_1.jpg" alt="Dziecko wykonujące ćwiczenia integracji sensorycznej">
      </picture>
      <picture class="slider__element slider__element--2">
        <source srcset="/assets/images/slide_2.webp" type="image/webp">
        <source srcset="/assets/images/slide_2.jpg" type="image/jpg">
        <img src="/assets/images/slide_2.jpg" alt="Dziecko wykonujące ćwiczenia integracji sensorycznej">
      </picture>
      <picture class="slider__element slider__element--3">
        <source srcset="/assets/images/slide_3.webp" type="image/webp">
        <source srcset="/assets/images/slide_3.jpg" type="image/jpg">
        <img src="/assets/images/slide_3.jpg" alt="Dziecko wykonujące ćwiczenia integracji sensorycznej">
      </picture>
    </div>
    <div class="slider__controles">
      <span data-slide-id="0" class="active"></span>
      <span data-slide-id="1"></span>
      <span data-slide-id="2"></span>
     </div>
</div>
