<div class="cookies-banner" id="cookies-banner">
    <div class="cookies-banner__content">
        <p class="cookies-banner__description">Na tej stronie korzystamy z plików cookies, aby zapewnić jak najlepsze doświadczenia naszym użytkownikom. Szczegółowe informacje na temat wykorzystywania ich oraz zarządzania nimi znajdziesz w linku dotyczącym <a href="/polityka-cookies">Polityki&nbsp;Cookies</a>.</p>
        <button id="accept-cookies-button">Zaakceptuj i&nbsp;zamknij</button>
    </div>
</div>
