<section class="faq" id="faq">
    <div class="faq__wrapper">
        <h2 class="heading-secondary">{{ site.data.faq.title }}</h2>
        <ul class="faq__list">
            {% for item in site.data.faq.items %}
            <li class="faq__list-item">
                <a href="#" class="faq__link">
                    {{ item.question }}
                <i class="fas fa-chevron-down faq__down-arrow"></i>
                <i class="fas fa-chevron-up faq__up-arrow"></i>
                </a>
                <div class="faq__answer markdown">
                    {{ item.answer | markdownify }}
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="/faq" class="faq__button">więcej</a>
    </div>
</section>
