<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__content">
            <div class="footer__description">
                <picture>
                    <source srcset="/assets/images/phibox_logo.webp" type="image/webp">
                    <source srcset="/assets/images/phibox_logo.png" type="image/png">
                    <img src="/assets/images/phibox_logo.png" alt="logo phibox">
                </picture>
                <p class="paragraph paragraph--white">Sensoric spółka z o. o. to część spółki <a href="http://phibox.eu">Phibox&nbsp;S.&nbsp;A.</a>.
            </div>
            <nav class="footer__nav">
                <ul class="footer__menu">
                    <li class="footer__item"><a href="/kontakt">Kontakt</a></li>
                    <li class="footer__item"><a href="/informacje-prawne">Informacje prawne</a></li>
                    <li class="footer__item"><a href="/polityka-prywatnosci">Polityka prywatności</a></li>
                    <li class="footer__item"><a href="/regulamin">Regulamin</a></li>
                    <li class="footer__item"><a href="/polityka-cookies">Cookies</a></li>
                </ul>
                
            </nav>
        </div>
        <div class="footer__subcontent">
            <ul class="social-media">
                {% for item in site.data.social-media-link.items %}
                    <li class="social-media__item">
                        <a href="{{ item.link }}" class="social-media__link" target="_blank" rel="noopener" aria-label="{{item.label}}"><i class="{{ item.icon }}"></i></a>
                    </li>
                {% endfor %}
            </ul>
            <div class="footer__copyright">
                <p>&copy; 2020 Sensoric</p>
                <p>Realizacja <a href="https://annawysocka.pl/">Anna Wysocka</a></p>
            </div>
        </div>
    </div>
</footer>