<section class="hero" id="hero">
    <div class="hero__wrapper">
        <picture class="hero__img" id="hero-img">
            <source srcset="/assets/images/logo_hero_mobile.webp" type="image/webp" media="(max-width: 650px)">
            <source srcset="/assets/images/logo_hero_mobile.png" type="image/png" media="(max-width: 650px)">
            <source srcset="/assets/images/logo_hero.webp" type="image/webp">
            <source srcset="/assets/images/logo_hero.png" type="image/png">
            <img src="/assets/images/logo_hero.png" alt="Logo Sensoric, zdjęcie w tle">
        </picture>
        <h1 class="heading-primary">Ćwicz i baw się z nami!</h1>
    </div>
    <a href="/#poznaj-gre" id="next-section"><span class="arrow-circle"><i class="fas fa-arrow-down"></i></span></a>
</section>
