<nav class="navigation">
    <div class="navigation__wrapper">
        <a href="/" id="nav-logo-link" role="banner" aria-label="logo firmy"><img src="/assets/images/logo_sensoric.png" class="navigation__logo {% if layout.logo-visible-on-start %}navigation__logo--visible{% endif %}" id="nav-logo" alt="logo sensoric"></a>
        <div class="navigation__menu" id="navigation-menu">
            <ul class="navigation__list" id="nav-list">
                {% for item in site.data.navigation.items %}
                    <li class="navigation__item">
                        <p><a href="{{ item.link }}" class="navigation__link" rel="noopener">{{ item.name }}</a></p>
                    </li>
                {% endfor %}
            </ul>
            <a href="/zaloguj" class="navigation__button">Zaloguj</a>
        </div> 
        {% include hamburger-menu.html %}
    </div>
</nav>
