<section class="offer" id="oferta">
    <div class="offer__wrapper">
        <h2 class="heading-secondary">Cennik</h2>
        <div class="offer__container">
            <p class="offer__description">Zasubskrybuj miesięczny dostęp do fabularyzowanych zestawów ćwiczeń do Integracji Sensorycznej.</p>
            <ul class="offer__boxes">
                <li class="offer__box offer__box--single">
                    <h3 class="heading-tertiary">Plan<span>Indywidualny</span></h3>
                    <div class="offer__content">
                        <p>dla rodziców</p>
                        <p class="offer__price">149<span>zł/m-c</span></p>
                        <a href="#" class="offer__button offer__button--green">kup teraz</a>
                    </div>
                   
                </li>
                <li class="offer__box offer__box--group">
                    <h3 class="heading-tertiary">Plan<span>Grupowy</span></h3>
                    <div class="offer__content">
                        <p>dla przedszkoli</p>
                        <p class="offer__icon"><i class="fas fa-users"></i></p>
                        <a href="/form.html" class="offer__button offer__button--red">napisz do nas</a>
                    </div> 
                </li>
            </ul>
        </div>
    </div>
</section>
