<section class="testimonials">
    <div class="testimonials__wrapper">
        <ul class="testimonials__list">
            <li class="testimonials__item">
                <span></span>
                <blockquote class="testimonials__description">Przyjemny zestaw. Super pomysł, dobra jakość wykonania. Rewelacja!</blockquote>
                <p class="testimonials__signature">Kasia</p>
            </li>
            <li class="testimonials__item">
                <span></span>
                <blockquote class="testimonials__description">Tablety i telefony są wszędzie,  – teraz syn może spędzić przed ekranem trochę czasu bez moich wyrzutów sumienia.</blockquote>
                <p class="testimonials__signature">Paweł</p>
            </li>
            <li class="testimonials__item">
                <span></span>
                <blockquote class="testimonials__description">To wciąga. Naprawdę fajnie się bawiłyśmy z córką, dzięki za to.</blockquote>
                <p class="testimonials__signature">Ewelina</p>
            </li>

        </ul>
    </div>
</section>
