.about-product {
    background-color: $color-super-light-grey;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heading-tertiary {
        text-align: start;
        font-size: $font-size-xl;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
    }

    .price {
        font-size: $font-size-l*2;
        margin-bottom: 0;
        color: $color-red;

        span {
            font-size: $font-size-xl;
        }
    }

    &__description {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include button;
        font-size: $font-size-l;
        color: $color-white;
        background-color: $color-red;
    }

    .paragraph {
        margin-bottom: 1rem;
    }

    &__item {
        display: flex;
        align-items: baseline;

        i {
            margin-right: 1.6rem;
            color: $color-red;
        }
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .about-product {

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }

        &__content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__description {
            margin-bottom: 0;
            align-items: flex-start;
        }

        &__list {
            margin-bottom: 0;
        }

        .slider {
            max-width: 45%;
        }

        &__description {
            max-width: 50%;
        }
    }
}

@include respond(tab-land) {

    .about-product {

        .slider {
            max-width: 48%;
        }

        &__description {
            max-width: 48%;
        }  
    }
}

@include respond(desktop) {

    .about-product {

        .slider {
            max-width: 51%;
        }

        &__description {
            max-width: 45%;
        }  
    }
}

@include respond(not-touch-device) {

    .about-product {
        &__button:hover, .about-product__button:focus {

            color: $color-red;
            background-color: transparent;
        }
    }
}

