.about-us {
    background: $color-super-light-grey;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        flex: 1 1 250px;
        justify-content: start;
        text-align: center;
        align-items: center;
        margin-bottom: 4rem;

        img {
            margin: 0 auto 2rem;
            max-width: 150px;
            height: auto;
            border: 4px solid $color-white;
            border-radius: 50%;
        }
    }
}

// MEDIA QUERIES 

@include respond(tab-port) {

    .about-us {
        background: url(/assets/images/tree_2.png) $color-super-light-grey no-repeat left top;
        background-size: 48%;

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }
    }
}

@include respond(tab-land) {

    .about-us {
        background: url(/assets/images/tree_2.png) $color-super-light-grey no-repeat left top;
        background-size: 46%;
    }
}

@include respond(desktop) {

    .about-us {
        background: url(/assets/images/tree_2.png) $color-super-light-grey no-repeat left top;
        background-size: 45%;

        &__item {
            margin-bottom: 0;
        }
    }
}

@include respond(big-screen) {

    .about-us {
        background: url(/assets/images/tree_2.png) $color-super-light-grey no-repeat left top;
        background-size: 35%;
    }
}
