.about-us {

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heading-secondary {
        @include heading-secondary;
    }

    &__list {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        flex: 1 1 250px;
        justify-content: start;
        text-align: center;
        margin-bottom: 4rem;

        img {
            margin: 0 auto 2rem;
            max-width: 150px;
            height: auto;
            border: 3px solid $color-white;
            border-radius: 50%;
        }
    }

    &__paragraph {
        font-size: $font-size-m;
        line-height: 1.6;
        align-self: center;
        max-width: 350px;
            
        &--name {
            color: $color-red;
            font-size: $font-size-s*2;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        &--profession {
            margin-bottom: 1rem;
        }
    }
}

// MEDIA QUERIES 

@include respond(tab-port) {

    .about-us {
        // background: url(/assets/images/tree.png) no-repeat left 3%;
        background: url(/assets/images/tree_2.png) no-repeat left top;
        background-size: 55%;

        &__wrapper {
            padding: $padding-wrapper-tab-port;
            padding-bottom: 0;
        }
    }
}

@include respond(tab-land) {

    .about-us {
        // background: url(/assets/images/tree.png) no-repeat left 3%;
        background: url(/assets/images/tree_2.png) no-repeat left top;
        background-size: 50%;
    }
}


@include respond(desktop) {

    .about-us {
        // background: url(/assets/images/tree.png) no-repeat left 3%;
        background: url(/assets/images/tree_2.png) no-repeat left top;
        background-size: 45%;
    }
}

@include respond(big-screen) {

    .about-us {
        // background: url(/assets/images/tree.png) no-repeat left 3%;
        background: url(/assets/images/tree_2.png) no-repeat left top;
        background-size: 35%;
    }
}
