.about-game {
    margin-top: 4rem;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include button;
        font-size: $font-size-l;
    }

    &__img {
        border-radius: $box-radius;
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        max-width: 400px;
        overflow: hidden;
    }

    &__video {
        overflow: hidden;
        max-width: $max-width;
        position: relative;

        img {
            width: 100%;
            text-align: center;
            border-radius: $box-radius;
            outline: none;
        }

        .play-button {
            background-color: $color-white;
            border-radius: 50%;
            border: 2px solid $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            box-shadow: 1px -1px 8px -1px rgba(54,54,54,0.49);

            i {
                font-size: $font-size-xl*3;
                color: $color-red;
                font-weight: 700;
                pointer-events: none;
            }
        }
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .about-game {
        margin-top: 2rem;
    
        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }
    
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8rem;
        }

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }
    
        &__img {
            width: 50%;
            margin-bottom: 0;
        }
    }
}

@include respond(tab-land) {
    .about-game {

        &__content {
            margin-bottom: 10rem;
        }

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }

        &__img {
            width: 50%;
            max-width: 580px;
        }
    }
}

@include respond(desktop) {
    .about-game {

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }

        &__img {
            max-width: 580px;
        }
    }
}

@include respond(not-touch-device) {

    .about-game {
        &__button:hover, .about-game__button:focus {

            color: $color-white;
            background-color: $color-red;
        }

        &__video {

            .play-button:hover, .play-button:focus {
               transform: translateY(-50%) translateX(-50%) scale(1.05);
               cursor: pointer;
           }
       }
    }
}



