.about-product {
    background-color: $color-super-light-grey;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
    }

    &__list {
        list-style: inside ;
        margin-bottom: 4rem;
    }

    &__item {
        color: $color-dark-grey;
        font-size: $font-size-m;
        line-height: 1.6;
        text-align: start;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .about-product {

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }

        &__content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__list {
            margin-bottom: 0;
        }

        .slider {
            width: 60%;
        }

        &__description {
            max-width: 35%;
        }
    }
}

@include respond(tab-land) {

    .about-product {

        &__slider {
            width: 60%;
        }

        &__description {
            max-width: 35%;
        }  
    }
}


