.about-game {
    margin-top: 4rem;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: 4rem 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 4rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include button;
        font-size: $font-size-l;
    }

    &__img {
        border-radius: $box-radius;
        width: 100%;
        margin-bottom: 4rem;
        max-width: 400px;
    }

    &__video {
        overflow: hidden;

        img {
            width: 100%;
            text-align: center;
            max-width: $max-width;
            border-radius: $box-radius;
        }
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .about-game {
        margin-top: 2rem;
    
        &__wrapper {
            padding: 8rem 4rem 0;
        }
    
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 8rem;
        }

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }
    
        &__img {
            width: 50%;
            margin-bottom: 0;
        }
    }
}

@include respond(tab-land) {
    .about-game {

        &__content {
            margin-bottom: 10rem;
        }

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }

        &__img {
            width: 50%;
            max-width: 580px;
        }
        
    }
}

@include respond(desktop) {
    .about-game {

        &__description {
            max-width: 45%;
            align-items: flex-start;
        }

        &__img {
            max-width: 580px;
        }
    }
}

@include respond(not-touch-device) {

    .about-game {
        &__button {

            &:hover {
                color: $color-white;
                background-color: $color-red;
            }
        }
    }
}



