
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: $color-white;
    font-family: $font-family-primary;
    overflow-x: hidden;
}

.site__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    padding: 1rem 2rem;
    border-radius: 9px;
    font-size: $font-size-m;
}

picture {
    display: flex;
    img {
        width: 100%;
        object-fit: cover;
    }
}
