
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background: $color-white;
    font-family: $font-family-primary;
}

a {
    text-decoration: none;
    outline-color: $color-blue;
    color: inherit;
}

ul {
    list-style: none;
}
