.faq {
    
    &__wrapper {
        max-width: $max-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;

        &--page {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__list {
        list-style: none;
        max-width: 80rem;
        margin-bottom: 4rem;
    }

    &__list-item {
        background-color: $color-white;
        border: 1px solid $color-red;
        border-radius: $box-radius;
        transition: all .3s ease;
    }

    &__list-item:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__link {
        font-size: 2rem;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        color:$color-dark-grey;
        padding: 2rem;
        // pointer-events: none;
        transition: all .3s ease;

        .faq__down-arrow {
            color: $color-red;
            pointer-events: none;
        }

        .faq__up-arrow {
            color: $color-white;
            pointer-events: none;
        }

        .faq__up-arrow {
            display: none;
        }
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        position: relative;
        background-color: $color-white;
        border-bottom-left-radius: $box-radius;
        border-bottom-right-radius: $box-radius;
        transition: all .8s ease-out; 

        p {
            padding: 2rem;
            font-size: $font-size-l;
            margin: 0;
        }
    }

    &__list-item--active {
        
        .faq__link {
            color: $color-white;
            background-color: $color-red;
            border-radius: $box-radius;
        }

        .faq__answer {
            max-height: 40rem;
        }

        .faq__link .faq__down-arrow {
            display: none;
        }

        .faq__link .faq__up-arrow {
            display: block;
        }
    } 

    &__button {
        font-size: $font-size-s*2;
        color: $color-red;
        padding: 1rem 2rem;
        border-radius: $box-radius;
        border: 1px solid $color-red;
        background-color: $color-white;
        white-space: nowrap;
        transition: all .3s ease;
    }
}

//MEDIA QUERIES

@include respond(tab-port) {
    .faq {
        width: 100%;
        background: url(/assets/images/grass.png) no-repeat bottom center;
        background-size: cover;

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }

        &__list {
            margin-bottom: 6rem;
        }
    }
}

@include respond(not-touch-device) {

    .faq {

        &__list-item {

            .faq__link:hover {
                color: $color-white;
                cursor: pointer;
                background-color: $color-red;
                border-radius: $box-radius;

                .faq__down-arrow {
                    color: $color-white;
                }
            }
        }

        &__button:hover {
            color: $color-white;
            background-color: $color-red;
        }
    }
}



