.footer {
    background-color: $color-dark-grey;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 25%;
            margin-bottom: .5rem;
        }

        a {
            font-weight: 700; 
            transition: color .3s ease;
        }

        p {
            text-align: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__nav {
        color: $color-white;
    }

    .social-media {
        display: flex;
        margin-right: 1rem;

        &__item {
            font-size: $font-size-xl;
        }

        &__item:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        font-size: $font-size-m;
        line-height: 1.6;
        white-space: nowrap;
    }

    &__item {
        margin: 1rem;
    }

    &__subcontent {
        border-top: 1px solid $color-white;
        padding-top: 1rem;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-size-xs*2;
        line-height: 1.6;
        white-space: nowrap;
        
    }
}

//MEDIA QUERIES

@include respond (tab-port) {

    .footer {
    
        &__wrapper {
            padding: 2rem 4rem;
        }
    
        &__description {
    
            img {
                width: 25%;
                max-width: 70px;
                margin-bottom: 1rem;
            }
        }
    
        &__content {
            align-items: center;
        }

        &__item {
            margin: 0;
        }
    
        &__item:not(:last-child) {
            margin: 0 2rem 0 0;
        }
    
        &__subcontent {
            justify-content: space-between;
        }
    
        &__copyright {
            align-items: flex-end;
        }
    }
}

@include respond(not-touch-device) {

    .footer {

        a:hover {
            border-bottom: 1px solid $color-white;
        }
    }

}
