.game-boxes {
    
    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 300px;
    }

    &__item:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: $color-red;
        border-radius: 50%;
        margin-bottom: 2rem;
       
        i { 
            color: $color-white;
            font-size: $font-size-xl*2;
        }
    }
}

// MEDIA QUERIES

// @include respond(tab-port) {

//     .game-boxes {
    
//         &__wrapper {
//             padding: 0 4rem 8rem;
//             display: flex;
//             justify-content: center;
//         }
//     }
// }

// @include respond(tab-land) {

//     .game-boxes {
    
//         &__wrapper {
//             display: flex;
//             justify-content: center;
//         }

//         &__item {

//             p {
//                 font-size: $font-size-l;
//             }
//         }

//         &__item:not(:last-child) {
//             margin-bottom: 0;
//         }
//     }
// }
