.hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(90vh - 62px);
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        z-index: 1;
    }

    &__img {
        width: 100%;
        max-width: 350px;
    }

    a {
        margin-bottom: -2.5rem;

        .arrow-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-red;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $color-red;
            box-shadow: 1px 2px 8px -1px rgba(54,54,54,0.49);
            transition: all .3s ease;
            
            i {
                color: $color-white;
                font-size: $font-size-xl;
            }
        }
    }

    &__button {
        font-size: 1.4rem;
        margin-top: 2rem;
    }
}

.webp .hero {
    background-image: url(/assets/images/hero_mobile.webp);
}

.no-webp .hero {
    background-image: url(/assets/images/hero_mobile.jpg);
}



// MEDIA QUERIES

@include respond(tab-port) {

    .hero {
        
        &__img {
            max-width: 500px;
        }
    }
}

@include respond(tab-land) {

    .hero {
        background-attachment: fixed;
    
        &__img {
            max-width: 650px;
            margin-top: 4rem;
        }

        &__button {
            display: none;
        }
    }

    .webp .hero {
        background-image: url(/assets/images/hero_web.webp);
    }
    
    .no-webp .hero {
        background-image: url(/assets/images/hero_web.jpg);
    }
}

@include respond(desktop) {

    .hero {
    
        &__img {
            margin-top: 6rem;
            max-width: 750px;
        }
    }
}

@include respond(not-touch-device) {

    .hero {

        a {
            .arrow-circle:hover, .arrow-circle:focus {
                transform: scale(1.1);
            }
        }
    } 
}

@include respond(landscape) {
    
    .webp .hero {
        background-image: url(/assets/images/hero_web_background.webp);
    }
    
    .no-webp .hero {
        background-image: url(/assets/images/hero_web_background.jpg);
    }

    .hero__img {
        width: 70%;
        margin-top: -2rem;
    }

    .heading-primary {
        font-size: $font-size-l;
    }

    .hero__button {
        font-size: $font-size-xs*2;
        margin-top: 0;
    }
}

