.hero {
    background: url(/assets/images/hero_image_blur.jpg) no-repeat center;
    background-size: cover;
    height: calc(90vh - 62px);
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    &__img {
        width: 85%;
        max-width: 350px;
    }

    .heading-primary {
        font-family: $font-family-secondary;
        color: $color-red;
        font-size: $font-size-xl;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-white;
        margin: 1rem 0 10vh;
        text-align: center;
    }

    a {
        margin-bottom: -2.5rem;

        .arrow-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $color-red;
            box-shadow: 1px 2px 8px -1px rgba(54,54,54,0.49);
            
            i {
                color: $color-white;
                font-size: $font-size-xl;
            }
        }
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .hero {
    
        &__img {
            max-width: 450px;
        }
    
        .heading-primary {
            font-size: $font-size-s*4;
            -webkit-text-stroke-width: 2px;
        }
    }
}

@include respond(tab-land) {

    .hero {
    
        &__img {
            max-width: 650px;
            margin-top: 2rem;
        }
    
        .heading-primary {
            font-size: $font-size-s*5 + .5rem;
            margin: 2rem 0 15vh;
        }
    }
}

@include respond(desktop) {

    .hero {
    
        &__img {
            max-width: 750px;
        }
    
        .heading-primary {
            font-size: $font-size-m*4;
            margin: 6rem 0 15vh;
        }
    }
}

@include respond(not-touch-device) {

    a {

        .arrow-circle {
            transition: all .3s ease;
            
            &:hover {
                background-color: $color-dark-red;
            }
        }
    }
}
