@mixin hamburger-line {
    background-color: $color-red;
    width: 100%;
    height: 3.6px;
    position: absolute;
    border-radius: 5px;
}

@mixin testimonials-paragraph {
    color: $color-red;
    font-size: $font-size-l;
    font-style: italic;
    text-align: center;
}

@mixin heading-secondary {
    margin: 0;
    font-family: $font-family-primary;
    font-size: $font-size-s*3;
    text-align: center;
    color: $color-red;
    margin-bottom: 4rem;
}

@mixin button {
    display: inline-block;
    font-family: $font-family-primary;
    font-size: $font-size-xl;
    color: $color-red;
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid $color-red;
    border-radius: $box-radius;
    transition: all .3s ease;
}

@mixin circle-controle-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $color-red;
    margin: 0 1rem;
    transform: scale(1);
    transition: all .3s ease;
}

@mixin respond($breakpoints) {
    @if $breakpoints == small-phone {
        @media screen and (max-width: 400px) {@content}
    };
    
    @if $breakpoints == tab-port {
        @media screen and (min-width: 650px) {@content}
    };

    @if $breakpoints == tab-land {
        @media screen and (min-width: 1023px) {@content}
    };

    @if $breakpoints == desktop {
        @media screen and (min-width: 1367px) {@content}
    };

    @if $breakpoints == big-screen {
        @media screen and (min-width: 1920px) {@content}
    };

    @if $breakpoints == not-touch-device {
        @media (hover: hover) {@content}
    };

    @if $breakpoints == landscape {
        @media screen and (max-width: 1100px) and (max-height: 590px) and (orientation: landscape) {@content}
    };

    @if $breakpoints == portrait {
        @media screen and (max-width: 1100px) and (min-height: 1020px) and (orientation: portrait) {@content}
    };
}
