.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    box-shadow: 1px -1px 8px -1px rgba(54,54,54,0.49);
    z-index: 3;

    &__wrapper {
        height: 62px;
        max-width: $max-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 2rem;
    }

    &__logo {
        max-height: 40px;
        transform: scale(0);
        width: 0;
        height: auto;
        transition: all .4s ease;
        pointer-events: none;

        &--visible {
            width: auto; 
            transform: scale(1);  
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: all 1s cubic-bezier(0.2,1,0.3,1);

        &--active {
            transform: translateX(0);
        }
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 2rem;
        transform: translateX(50%);
        transition: all 1s cubic-bezier(0.2,1,0.3,1);

        &--active {
            transform: translateX(0);
        }
    }

    &__item {
        margin: 1.4rem;
    }

    &__link {
        font-size: $font-size-l;
        color: $color-dark-grey;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &__button {
        @include button;
        text-transform: uppercase;
        font-size: $font-size-l;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .navigation {

        &__wrapper {
            padding: 1rem 4rem;
        }
    }
}

@include respond(tab-land) {

    .navigation {

        &__logo {
            
            &--visible {
                margin-right: 4rem;
            }
        }
        &__menu {
            position: relative;
            width: 100%;
            height: auto;
            padding: 0;
            flex-direction: row;
            justify-content: space-between;
            overflow-y: visible;
            background-color: transparent;
            transform: translateX(0);
        }
    
        &__list {
            flex-direction: row;
            transform: translateX(0);
            margin-bottom: 0;
        }

        &__item {
            margin: 0;
        }

        &__item:not(:last-child) {
            margin-right: 4rem;
        }

        &__link {
            font-size: $font-size-m;
        }

        p::first-letter {
            font-size: $font-size-l;
        }
    
        &__button {
            font-size: $font-size-m;
        }
    }
}

@include respond(not-touch-device) {

    .navigation {

        &__link {
            transition: color .3s ease;

            &:hover {
                color: $color-red;
            }
        }

        &__button {

            &:hover {
                color: $color-white;
                background-color: $color-red;
            }
        }
    }
}


