.offer {

    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    h2 {
        @include heading-secondary;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        max-width: 700px;
        font-size: $font-size-xl;
        font-weight: 700;
        color: $color-red;
        line-height: 1.4;
        text-align: center;
    }

    &__boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-red;
        border-radius: $box-radius;
        flex: 1 1 200px;
        margin: 1rem;
        padding: 2rem 0;
        
        .heading-tertiary {
            font-size: $font-size-xl;
            line-height: 1.4;
            font-weight: 700;
            color: $color-white;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            padding: 2rem 1rem;

            span {
                display: block;
            }
        }
    }

    &__content {
        padding: 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        min-height: 210px;
        
        p {
            font-size: $font-size-m;
            color: $color-white;
        }

        .offer__price {
            
            font-size: $font-size-xl*2;
            color: $color-white;
            font-weight: 900;
            margin: 4rem 0;

            span {
                font-size: $font-size-l;
            }
        }

        .offer__icon {

            i {
                font-size: $font-size-xl*2;
                color: $color-white;
            }
        }
    }

    &__button {
        font-size: $font-size-s*2;
        color: $color-red;
        padding: 1rem 2rem;
        border-radius: $box-radius;
        border: 1px solid $color-white;
        background-color: $color-white;
        white-space: nowrap;
        transition: all .3s ease;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .offer {
        background: url(/assets/images/tree_1.png) no-repeat top right;
        background-size: 65%;

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }
    }
}

@include respond(tab-land) {

    .offer {
        // background: url(/assets/images/offer-tree.png) no-repeat top right;
        background: url(/assets/images/tree_1.png) no-repeat top right;
        background-size: 60%;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; 
        }

        &__description {
            font-size: $font-size-l*2;
            text-align: start;
            width: 45%;
            max-width: 440px;
        }

        &__boxes {
            max-width: 50%;
            flex-wrap: nowrap;
            margin-top: 0;
        }

        &__box {
            margin: 0;

            .heading-tertiary {
                font-size: $font-size-m*2;
            }
        }

        &__box:first-child {
            margin-right: 4rem;
        }

        &__content {
            
            p {
                font-size: $font-size-l;
            }
    
            .offer__price {
                
                font-size: $font-size-xl*2;
    
                span {
                    font-size: $font-size-s*2;
                }
            }
    
            .offer__icon {
    
                i {
                    font-size: $font-size-l*3;
                }
            }
        }
    }
}

@include respond(desktop) {
    .offer {
        // background: url(/assets/images/offer-tree.png) no-repeat top right;
        background: url(/assets/images/tree_1.png) no-repeat top right;
        background-size: 55%;
    }

}

@include respond(big-screen) {

    .offer {
        // background: url(/assets/images/offer-tree.png) no-repeat top right;
        background: url(/assets/images/tree_1.png) no-repeat top right;
        background-size: 30%;
    }
}

@include respond(not-touch-device) {

    .offer {

        &__button {

            &:hover {
                color: $color-white;
                background-color: $color-red;
            }
        }
    }
}
