.page {
    margin-top: 62px;
    flex-grow: 1;

    &__wrapper {
        max-width: $page-max-width;
        margin: 0 auto;
        padding: 8rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .heading-primary {
        margin: 0;
        font-family: $font-family-primary;
        font-size: $font-size-s*3;
        text-align: center;
        color: $color-red;
        margin-bottom: 4rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    
}

// MEDIA QUERIES

@include respond(tab-port) {

    .page {

        &__wrapper {
            padding: 8rem 4rem;
        }
    }
}



