.page {
    margin-top: 62px;
    flex-grow: 1;

    &__wrapper {
        max-width: $page-max-width;
        margin: 0 auto;
        padding: 8rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .heading-secondary {
        @include heading-secondary;
        font-weight: 400;
        margin-bottom: 4rem;
        text-align: center;
    }

    p {
        font-size: $font-size-m;
        line-height: 1.4;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: $font-size-l;
        color: $color-dark-grey;
        font-family: $font-family-primary;
        margin: 2rem 0 1rem;
        line-height: 1.4;
    }
}

// MEDIA QUERIES

@include respond(tab-port) {

    .page {

        &__wrapper {
            padding: 8rem 4rem;
        }
    }
}
