
.testimonials {
    &__wrapper {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding-wrapper-mobile;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@include respond(tab-port) {
    .testimonials {

        &__wrapper {
            padding: $padding-wrapper-tab-port;
        }
    }
}
