//color
$color-white: #fff;
$color-red: #fd6155;
$color-dark-red: #f04e4efd;
$color-light-green: #8dca23;
$color-dark-green: #005428;
$color-turquoise: #82e6cf;
$color-blue: #6ec0f4;
$color-grey: #82807f;
$color-light-grey: #CCCCCC;
$color-dark-grey: #363636;
$color-black: #000;

// font
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Luckiest Guy', cursive;

$font-size-xs: 0.6rem;
$font-size-s: 1rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;

// space
$space-s: 1rem;

$padding-wrapper-mobile: 4rem 2rem;
$padding-wrapper-tab-port: 6rem 4rem;

$box-radius: 9px;

// page max-width
$max-width: 1366px;